* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}

hr {
    color: gray;
    opacity: 20%;
}

#main {
    display: flex;
}

/* Left */

#left {
    width: fit-content;
    margin: 20px 0px 20px 35px;
}

#left-heading {
    padding-top: 5px;
}

/* Middle */

#middle {
    margin: 20px 25px;
}

#middle-top {
    /* margin-bottom: 10px; */
    /* height: fit-content;
    width: fit-content; */
}

.horizontal-hr {
    margin: 10px 0px;
}

#middle-bottom {
    /* height: fit-content;
    width: fit-content; */
}

#middle-bottom-offset-container {
}

#middle-bottom-arrow {
    vertical-align: top;
}

#middle-bottom-offset {
    font-size: 1em;
    display: inline-block;
    width: 90%;
}

#long-hr {
    margin-top: 20px;
    border-left-width: 2px;
}

/* Right */

#right {
    margin: 20px 35px 20px 25px;
}

#right-top {
    height: 33.3%;
    width: fit-content;
}

#right-top-heading {
    width: 80%;
}

#right-top-text {
    font-size: 1.2em;
}

#right-middle {
    height: 33.3%;
    width: fit-content;
}

#right-middle-offset-container {
    padding: 10px;
}

#right-middle-arrow {
    vertical-align: top;
}

#right-middle-offset {
    display: inline-block;
    width: 80%;
}

#right-bottom {
    height: 33.3%;
    width: fit-content;
}

.right-imgs {
    float: right;
    margin-left: 20px;
}

.right-hr {
    clear: both;
    border-top-width: 2px;
}